@model List<MvcMovie.Models.Comments>

<div class="mt-6" aria-live="polite"  aria-atomic="true" style="min-height: 200px;">
    @foreach (var item in Model)
    {
        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            
            <strong class="mr-auto">User</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            @item.Text
        </div>
        </div>        
    }
</div>