@model MvcMovie.Models.Movie

@section styles {
  <link href="~/css/comments_style.css" rel="stylesheet" type="text/css" />
}

        <div id="carouselExampleIndicators" style="height: 400px; overflow-y: hidden;" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="@Model.Images[0]" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="@Model.Images[1]" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="@Model.Images[2]" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>   


@section LateralDerecho {

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>@Model.Title</h3></li>
            <li class="list-group-item">@Model.Plot</li>
            <li class="list-group-item">@Model.Released</li>
            <li class="list-group-item">@Model.Genre</li>
            <li class="list-group-item">@Model.Runtime</li>
        </ul>
        <a href="/Movie/" class="mt-3 btn btn-info">Regresar</a>
}

@section AreaInferior {
    @Html.Partial("ListComments", Model)
}